@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color-300: #673de6;
    --primary-color-400: #5025d1;
    --primary-color-500: #2f1c6a;
    --primary-color-600: #1f1346;
    --secondary-color: #eaeaff;
    --green-var-color: #00b090;
    --font-family: 'DM Sans', sans-serif;
    --font-primary-color: #1d1e20;
    --white-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body {
    line-height: 24px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
}
.kodee-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color-300);
    color: white;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    line-height: 24px;
    font-size: 14px;
    gap: 8px;
    border: none;
    position: fixed;
    bottom: 14px;
    right: 14px;
    width: 120px;
}
.kodee-button:hover {
    background-color: var(--primary-color-400);
}
button {
    padding: 11px 15px;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #161718;
    cursor: pointer;
    background-color: transparent;
    
}
.generic-button {
    padding: 11px 47px;
    background-color: var(--primary-color-300);
    color: #fff;
    border: none;
}
.generic-button:hover {
    background-color: var(--primary-color-400);
}
/* HEADER INICIO
-
-
-
-*/
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 29px 40px;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.main-logo {
    cursor: pointer;
}
ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
.with-chevron-down {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}/* Sin esto los 3 items con chevron se comportan independientes y con direction-column, no sacar */
li {
    display: flex;
    align-items: center;
    gap: 4px;
}/* Necesario para "acomodar" el chevron */
nav ul li :hover{
    opacity: 0.5;
}
a {
    text-decoration: none;
    color: var(--font-primary-color);
}/* Necesario por ser anclas, saca el estilo defecto */
.access-buttons {
    display: flex;
    gap: 17px;
    align-items: center;
}/* 17px de gap porque suma al padding del boton y da los 32 que tiene Hostinger*/
.language-text:hover {
    opacity: 0.5;
}
.my-account:hover {
    border-color: #16171865;
    opacity: 0.7;
}
.language {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
}
.language-icon {
    width: 32px;
    height: 20px;
}/* tamaño del icono de lenguaje: Necesario */
.menu-button {
    display: none;
    border: none;
    padding: 0;
}
.menu-button svg {
    width: 24px;
    height: auto;
}

/* FIN HEADER
    -
    -
    -
    -
    - */

/* MAIN INICIO
-
-
-
- */
.hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 230px;
    margin-top: 80px;
}
.hero-section {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-banner {
    width: 100%;
    display: flex;
    max-width: 880px;
}
.hero-banner img {
    width: 100%;
    height: auto;
    display: block;
}/* No tiene el tamaño de Hostinger original pero queda lindo */
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: center
}
.hero-overline {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}
.off {
    color: var(--primary-color-300);
    display: inline-block;
}
h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
}
.hero-list {
    flex-direction: column;
    gap: 0px;
    font-size: 16px;
}
.hero-list li {
    gap: 10px;
    margin-bottom: 2px;
}
.tick {
    width: 24px;
    vertical-align: middle;
    min-width: 24px;
}
.question-mark {
    width: 16px;
    cursor: pointer;
}
.start-now {
    padding: 11px 47px;
}
span {
    display: flex;
    align-items: center;
}/* Sin este span no queda alineado */
.money-protect {
    width: 16px;
    margin-right: 4px;
} 
.migration-section {
    color: var(--white-color);
    width: 100%;
    height: 50%;
    background-color: var(--primary-color-600);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    letter-spacing: 0.7px
}
.migration-section-content-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.migration-head {
    text-align: center;
    padding: 0px 40px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.migration-head h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: var(--font-family);
    line-height: 40px;
}
.migration-head p {
    line-height: 24px;
    font-size: 16px;
}
.cards-container {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 24px;

}
.cards-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    background-color: var(--primary-color-500);
    padding: 32px;
    border-radius: 16px;
    text-align: left;
    gap: 16px;
    flex: 1;
}
.cards-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color-300);
    border-radius: 6px;
}
.cards-icon svg {
    width: 24px;
}
.subtitle-cards {
    font-size: 18px;
    font-weight: 700;
}
.description-cards {
    font-size: 16px;
    font-weight: 400;
}
.migration-section-content-container button {
    margin-top: 48px;
}
/* FIN MAIN
    -
    -
    -
    - */


/* INICIO FOOTER
-
-
-
- */
footer {
    background-color: #f4f5ff;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer-content {
    max-width: 1208px;
    width: 100%;
    display: flex;
    padding: 0 40px;
    margin: 56px auto 0 auto;
    flex-direction: column;
}
.footer-logo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}
footer .social {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}
.social-icon {
    display: flex;
    gap: 16px;
}
.social-icon svg {
    width: 32px;
    cursor: pointer;
}
.social-icon :hover {
    opacity: 0.7;
}
.payment {
    font-size: 14px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.payment-methods {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.payment-methods a {
    color: var(--primary-color-300);
    font-weight: 700;
}
.payment-methods img {
    height: 40px;
    border: #6ea0d34d 1px solid;
    border-radius: 6px;
}
.legal-links {
    display: flex;
    gap: 16px;
}
.legal-links :hover {
    color: #5025d1;
}
.cookies-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 128px;
    justify-content: space-between;
    border-top: #6ea0d34d 1px solid;
}
.cookies-section p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/* RESPONSIVE 320PX */
@media (max-width: 480px) {
    header {
        padding:16px 20px;
    }
    header ul {
        display: none;
    }
    header .access-buttons {
        display: none;
    }
    .menu-button {
        display: flex;
    }
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    footer .social {
        flex-direction: column-reverse;
        align-items: start;
    }
    footer .social .social-icon {
        width: 100%;
        justify-content: space-between;
        margin: 0 0 8px;
        padding: 16px 0;
    }
    .footer-content {
        padding: 0 16px;
    }
    .legal-links {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .payment {
        flex-direction: column-reverse;
        gap: 16px;
    }
    .payment-methods {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .cookies-section {
        flex-direction: column; 
        gap: 8px;
        align-items: start;
    }
    .start-now {
        padding: 0 50px;
    }
    .hero-container {
        margin: 0px;
        padding: 14px 0 36px;
    }
    .hero-section {
        flex-direction: column;
        padding: 0 16px;
        justify-content: center;
        align-items: center;
    }
    .hero-text {
        align-items: center;
    }
    main h1 {
        font-size: 24px;
        line-height: 32px;
    }
    .hero-overline {
        font-size: 18px;
        line-height: 24px;
    }
    .hero-list {
        font-size: 16px;
        line-height: 24px;
        display: flex;
        justify-content: start;
        gap: 8px;
    }
}

/* RESPONSIVE 480PX */
@media (max-width: 480px) {

}